.searchbar{
    min-width: 300px;
    max-height: 500px;
    position: fixed;
    overflow-y: scroll;
}

.searchbar::-webkit-scrollbar{
    width: 8px;
}

.searchbar::-webkit-scrollbar-thumb{
    background-color: #777;
}

.searchbar::-webkit-scrollbar-track{
    background-color: transparent;
}

.searchPopular{
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.searchPopularChannelName{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.searchPopularChannelName img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.searchPopularChannelName p{
    font-size: 0.875rem;
    font-weight: 500;
}

.popularPostContent{
    display: flex;
    justify-content: center;
    max-height: 80%;
}

.popularPostContent p{
    font-size: 0.875rem;
    overflow: hidden;
}

.popularPostContent img{
    width: 50%;
    border-radius: 10px;
}

.searchTypeTitle{
    font-size: 0.875rem;
    font-weight: 500;
    padding: 10px 10px 0 10px;
    text-transform: uppercase;
}

.searchPopularCommunity{
    width: 100%;
    height: 40px;
    padding: 10px 5px;
    cursor: pointer;
}

.darkHover:hover{
    background-color: #272729;
}

.lighteHover:hover{
    background-color: #eee;
}

@media (max-width: 500px){
    .searchbar{
        min-width: 100vw;
        left: 0;
    }
}