.download{
    width: 100%;
    max-width: 540px;
    height: auto;
    background-color: #fff;
    margin: 0 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title p{
    font-size: 2rem;
    font-weight: 700;
}

.qrcode{
    text-align: center;
    width: 200px;
}

.qrcode p{
    font-weight: 700;
    padding: 35px 0 20px 0;
}

.qrcode img{
    width: 100%;
}

.footer{
    text-align: center;
}

.footer p{
    padding: 20px 0 15px 0;
}

.redirect{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 300px) {
    .redirect{
        flex-direction: column;
        margin-bottom: 5px;
        gap: 5px;
    }
    .title p{
        font-size: 1.5rem;
    }
}